@import '../../../styles/theme';

.CRButton {
  &-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: $font-size-medium;
    border-radius: 4px;
    font-family: $font-roboto-medium;

    color: $color-white;
    background-color: $color-red-company;

    @include elementStates {
      background-color: darken($color-red-company, 20%);
    }
  }
}