@import '../../../../styles/theme';

:host {
  display:  block;
}

.CRFormInputErrors {
  &-container {
    padding: 5px;
  }

  &-error {
    font-family: $font-roboto-regular;
    font-size: $font-size-small;
    color: $color-red;
  }
}