table.CRTable-container
    tr.CRTable-headerContainer
        td.CRTable-headerRow(*ngFor="let header of crTableConfigurationHeaders")
            span {{ header.value | CRTranslate }}
    tr.CRTable-rowGroup(*ngFor="let rowGroup of rowGroups" )
        td.CRTable-row(*ngFor="let row of rowGroup") {{ row }}
