@font-face {
  font-family: 'Roboto-Regular';
  src: url('../resources/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../resources/fonts/Roboto-Medium.ttf') format('truetype');
}
