@import '../../../styles/theme';

@include keyframes(LoadingSpinner-animation) {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.CRLoadingSpinner {
  &-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:before {
      content: '';
      display: block;
      width: 5%;
      height: 26%;
      margin: 0 auto;
      background-color: $color-black;
      @include animation(LoadingSpinner-animation 1.2s infinite ease-in-out both)
    }
  }

  @for $i from 1 through 11 {
    $rotation: $i * 30;
    $delay: -1.2 + 0.1 * $i;

    &-circle#{$i+1} {
      @include transform(rotate($rotation+deg));

      &:before {
        @include animation-delay($delay+s);
      }
    }
  }
}