@import '../styles/theme';
@import '../styles/styles';

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.CRApp {
  display: block;
  height: 100%;

  &-content {
    @include content;
    width: 100%;
    height: 100%;
  }
}

