.CRFormInput-container(*ngIf="control")
    input.CRFormInput-input(
        [formControl]='control',
        type = '{{ crFormInputConfiguration.type }}',
        placeholder = '{{ crFormInputConfiguration.placeholder | CRTranslate }}')