@import '../../../../styles/theme';

:host {
  display:  block;
}

.CRFormInput {
  &-container {
    display: flex;
  }

  &-input {
    border: 1px solid $color-grey;
    padding: 5px;
    width: 200px;
    font-family: $font-roboto-regular;
    font-size: $font-size-regular;
  }

  &-icon {
    padding: 10px;
    box-sizing: border-box;
    width: 40px;
    background-color: $color-red;

    @include elementStates {
      background-color: transparentize($color-red, 0.2);
    }
  }
}