.CRAdvertiserDialog
    .CRAdvertiserDialog-container(*ngIf="isOpen")
        .CRAdvertiserDialog-backdrop((click)="closeDialog()")
        .CRAdvertiserDialog-content
            cr-loading-spinner.CRAdvertiserDialog-loadingSpinner(*ngIf="isSaving")
            span.CRAdvertiserDialog-title {{ { translateId: 'advertiser.form.title' } | CRTranslate }}
            cr-custom-form.CRAdvertiserDialog-form([crFormConfiguration]="formConfiguration")
                .CRAdvertiserDialog-inputContainer(*ngFor="let input of formConfiguration.inputs")
                    cr-custom-form-input([crFormInputConfiguration]='input')
                    cr-custom-form-input-errors([crFormInputErrorsConfiguration]='input')
                cr-custom-form-button([crFormButtonLabel]="{ translateId: 'advertiser.form.save' }")
