@import '../../../../styles/theme';

.CRAdvertiserDialog {
  &-container {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    @include transform(translate(-50%, -50%));
  }

  &-backdrop {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-content {
    position: relative;
    z-index: 1;
    @include boxShadow(0px 0px 10px 0px rgba(0,0,0,0.75));
    width: 600px;
    height: 400px;
    border-radius: 6px;
    background-color: $color-white;
  }

  &-form {
    padding: 30px 20px;
  }

  &-title {
    font-family: $font-roboto-regular;
    font-size: $font-size-medium;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }

  &-inputContainer {
    display: block;

    & + & {
      margin-top: 20px;
    }
  }
}