.CRHome-container
    cr-advertiser-dialog.CRHome-dialog([crAdvertiserDialogOpen]="openDialog", (crAdvertiserDialogAfterCreate)="addAdvertiser($event)")
    cr-loading-spinner.CRHome-loadingSpinner(*ngIf="isLoading")
    cr-image.CRHome-logo([crImage]="logo")
    cr-table.CRHome-table([crTableConfigurationHeaders]="configHeaders", [crTableConfigurationRows]="configRows")
    cr-button.CRHome-button.CRButton.CRButton--red(
        *ngIf="!isLoading",
        [crButtonLabel]="{ translateId: 'home.addAdvertiser' } ",
        (crButtonOnAction)="openAdvertiserDialog()")
