@import '../../styles/theme';

:host {
  display: block;
  height: 100%;
}

.CRHome {
  &-container {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    height: 100%;
  }

  &-logo {
    margin-top: 20px;
    width: 170px;
    height: 28px;
  }

  &-table {
    margin-top: 50px;
    width: 90%;
  }

  &-loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    @include transform(translate(-50%, -50%));
  }

  &-button {
    margin-top: 20px;
  }
}